*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#minicircle{
  /* transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 1s; */
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff;
}
#main{
    width: 100%;
    background-color: black;
}

#god{
    position: relative;
    color: white;
    width: 100%;
    height: 100vh;
    background-color: black;
}

#nav{
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
#nav a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}

#heading{
    margin-top: 90px;
}
#heading h1{
    margin-left: 30px;
    line-height: 1;
    opacity: .6;
    text-transform: uppercase;
    font-size: 9vw;
    font-weight: 900;
}
#heading #secondh1{
    margin-left: 180px;
}

.design{
      display: flex;
      flex-direction: column;
      align-items: end;
      width: fit-content;
}
.design h4{
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}

#heading2{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 40px;
}

#heading2 h5{
    margin-top: 0.5vw;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-align: right;
}

#godfooter{
    padding: 0 2vw;
    width: 100%;
    position: absolute;
    bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#godfooter a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

#iconset{
    display: flex;
    gap: 4px;
}
#iconset #circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #888;
    color: black;
}

#god2{
    color: white;
    background-color: black;
    padding-top: 150px;
    padding-right: 10vw;
    height: 100vh;
    width: 100%;
}
.elem{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2vw 2vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1{
    opacity: .7;
    text-transform: uppercase;
    font-size: 6vw;
}
.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    position: absolute;
    z-index: 999;
     height: 100%;
     opacity: 0;
}
#god3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10vw 10vw;
    padding-left: 25vw;
    width: 100%;
    background-color: black;
    color: white;
}

#god3 img{
    border-radius: 50%;
    height: 250px;
    width: 200px;
}
#textabout{
    width: 26rem;
}
#textabout h5{
    text-transform: uppercase;
}
#textabout p{
    opacity: 0.8;
    margin-top: 10px;
    line-height: 1.4;
    margin-bottom: 40px;
}
#textabout a {
    color: white;
    text-decoration: none;
    border-radius: 100px;
    padding: 12px 22px;
    border: 1px solid white;
}
#subscribe{
    background-color: black;
    color: white;
    padding: 20px 20px;
    padding-bottom: 7vw;
}
#subscribe h5{
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 500;
}
#subscribe h3{
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 10px;
}
#footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
}
#footerleft{
    display: flex;
    gap: 15px;
}

#footerright{
    display: flex;
    gap: 25px;
}
#footerright a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
}